.DiaryEditer {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.DiaryEditer input,
textarea {
  padding: 10px;
  width: 500px;
  margin-bottom: 20px;
}

.DiaryEditer textarea {
  height: 150px;
}

.DiaryEditer select {
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.DiaryEditer button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}
